.div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2%;
}
.div-item {
  width: 30%;
  margin: 0.5rem;
}
.btn {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
  border: 1px solid rgb(44, 30, 30);
  background: rgba(0, 0, 0, 0.257);
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(50, 128, 173);
}
.mix-container {
  width: 60%;

  margin: auto;
}
.mix {
  margin-top: 0.5rem;
  width: 100%;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid rgb(44, 30, 30);
  font-weight: bold;
  color: rgb(50, 142, 222);
}
